<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>

    <body>
        <h1>{{ title }}</h1>
        <form action="{{ url_for('grid') }}" method="post">
            {% for img in image_indices %}
                <input style="width:150px; height:100px; border:3px solid {{ border_colors[img] }}; background: linear-gradient(rgba{{ bg_colors[img] }}, rgba{{ bg_colors[img] }}), url({{ url_for('static', filename='img' + img|string + '.jpg') }}); color: transparent;" type="submit" name="index_clicked" value="{{ img }}" alt="Image {{ img_index }}" />
            {% endfor %}
            <input type="hidden" name="border_indices" value={{ border_indices }} />
            <input type="hidden" name="retrain" value="No" />
        </form>
        <form action="{{ url_for('grid') }}" method="post">
            <button type="submit">Train</button>
            <input type="hidden" name="border_indices" value={{ border_indices }} />
            <input type="hidden" name="retrain" value="Yes" />
        </form>
    </body>
</html>