<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>

    <body>
        <h1>{{ title }}</h1>
        <form action="{{ url_for('grid') }}" method="post">
            {% for row in image_indices|batch(grid_width) %}
                {% for img in row %}
                    <input style="width:130px; height:110px; border:5px solid {{ border_colors[img] }}; background: linear-gradient(rgba{{ bg_colors[img] }}, rgba{{ bg_colors[img] }}), url({{ url_for('static', filename='img/img' + img|string + '.jpg') }}); color: transparent;" type="submit" name="index_clicked" value="{{ img }}" alt="Image {{ img_index }}" />
                {% endfor %}
                <br />
            {% endfor %}
            <input type="hidden" name="border_indices" value={{ border_indices }} />
            <input type="hidden" name="retrain" value="No" />
        </form>
        <form action="{{ url_for('grid') }}" method="post">
            <button type="submit" {{ train_disabled }}>Train</button>
            <input type="hidden" name="border_indices" value={{ border_indices }} />
            <input type="hidden" name="retrain" value="Yes" />
        </form>
    </body>
</html>